<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body class="loggedin">
    <nav class="navtop">
        <div>
            <h1>SHAHEEN</h1>
            <a href="{{ url_for('bodHome') }}"><i class="fas fa-home"></i>Home</a>
            <a href="{{ url_for('statAndSummary') }}"><i class="fas fa-chart-line">></i>Stats and Summary</a>
            <a href="{{ url_for('meeting') }}"><i class="fas fa-calendar"></i>Meetings</a>
            <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>SignOut</a>

        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>