<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body class="loggedin">
    <nav class="navtop">
        <div>
            <h1>SHAHEEN</h1>

            <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>SignOut</a>
            <a href="{{ url_for('req_leave') }}"><i class="fas fa-sign-out-alt"></i>Request Leave</a>
            <a href="{{ url_for('req_loan') }}"><i class="fas fa-sign-out-alt"></i>Request Loan</a>
            <a href="{{ url_for('verify_account') }}"><i class="fas fa-sign-out-alt"></i>Account Verification</a>
             <a href="{{ url_for('emp_eval') }}"><i class="fas fa-sign-out-alt"></i>Observe Evaluation</a>

        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>