<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SignUp</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body>
		<div class="register">
			<h1>SHAHEEN</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Member SignIn</a>
				<a href="{{ url_for('register') }}" class="active">Member SignUp</a>
				<a href="{{ url_for('bodLogin') }}">BOD SignIn</a>
			</div>
			<form action="{{ url_for('register') }}" method="post" autocomplete="off">
                <label for="name">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="name" placeholder="Full Name" id="name" required>
                
				<label for="username">
					<i class="fas fa-user"></i>
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<label for="password">
					<i class="fas fa-lock"></i>
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<label for="email">
					<i class="fas fa-envelope"></i>
				</label>
                <input type="email" name="email" placeholder="Email" id="email" required>

                <label for="cnic">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="cnic" placeholder="CNIC" id="cnic" required>

                <label for="dob">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="dob" placeholder="DD/MM/YY" id="dob" required>

				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Register">
			</form>
		</div>
	</body>
</html>