<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>SHAHEEN</h1>
                <a href="{{ url_for('emp_home') }}"><i class="fas fa-home"></i>Back home</a>
			</div>
		</nav>
    </body>

<head>
    <meta charset="UTF-8">
    <title>ACCOUNT</title>
    <p>Account  verified!</p>

			</form>
</head>
<body>

</body>
</html>