<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body class="loggedin">
    <nav class="navtop">
        <div>
            <h1>SHAHEEN</h1>
            <a href="{{ url_for('financeHome') }}"><i class="fas fa-home"></i>Home</a>
            <a href="{{ url_for('financeLoan') }}"><i class="fas fa-coins"></i>Loan Management</a>
            <a href="{{ url_for('financePayment') }}"><i class="fas fa-coins"></i>Payments</a>
            <a href="{{ url_for('disperseSalary') }}"><i class="fas fa-coins"></i>Disperse Salary</a>
            <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>SignOut</a>
            <a href="{{ url_for('summary') }}"><i class="fas fa-coins"></i>Revenue Summary</a>
        </div>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>

</html>