{% extends 'emp_layout.html' %}
{% block title %}Request Loan{% endblock %}
{% block content %}
<p>
    Please fill out the application:
    <form action="{{ url_for('req_loan') }}" method="post">
        <label for="amount">Enter loan amount: <i class="fas fa-calendar"></i></label>
        <input type="text" name="amount" placeholder="Amount" id="amount" required>
        <br>
        <label for="reason">Enter Reason: <i class="fas fa-calendar"></i></label>
        <input type="text" name="reason" placeholder="Reason" id="reason" required>
         <br>
        <label for="time">Choose a duration: <i class="fas fa-clock"></i></label>
        <select type="time" name="time" id="time" required>
            <option value="8m">8 months</option>
            <option value="12m">12 months</option>
            <option value="14m">16 months</option>
        </select>
        <br>

        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Apply for loan">
    </form>
</p>
{% endblock %}